<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary">Entry Form</h1>
    <div class="field">
      <!-- Try to make it look like the Starbucks app Order menu.

        Drink Category
          Drink Sub-Category 1
          Drink Sub-Category 2
          Drink Sub-Category 3
          Drink Sub-Category n
        Food Category
          Food Sub-Category 1
          Food Sub-Category 2
          Food Sub-Category 3
          Food Sub-Category n

        Clicking a sub-category should take them to a new page that is specific to
        that category.

        Sub Category
          Item 1
          <mat-divider></mat-divider>
          Item 2
          <mat-divider></mat-divider>
          Item 3
          <mat-divider></mat-divider>
          Item N
      -->

      <!-- Original way of doing it.-->
      <!--<mat-form-field appearance="fill">
        <mat-label>Select item:</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="drink">Drink</mat-option>
          <mat-option value="food">Food</mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngSwitch]="selected">
        <div *ngSwitchCase="'drink'">

          <form (submit)="addNewDrink(postForm)" #postForm="ngForm">
            <mat-form-field>
              <mat-label>Name of Drink</mat-label>
              <input matInput type="text" name="drinkName" ngModel required placeholder="Ex. White Chocolate Mocha" #drink="ngModel">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Price of Drink</mat-label>
              <input matInput type="number" name="price" ngModel required placeholder="Ex. 4.95" #price="ngModel">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Type of Drink</mat-label>
              <input matInput type="text" name="type" ngModel required placeholder="Ex. Hot or Frappe" #type="ngModel">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Size of Drink</mat-label>
              <input matInput type="text" name="size" ngModel required placeholder="Ex. Grande" #size="ngModel">
            </mat-form-field>
            <button class="button is-success has-text-white" style="margin-left: 200px;">
              Submit
            </button>
          </form>


        </div>
        <div *ngSwitchCase="'food'">
          <form (submit)="addNewFood(postForm)" #postForm="ngForm">
            <mat-form-field>
              <mat-label>Name of Food</mat-label>
              <input matInput type="text" name="foodName" ngModel required placeholder="Ex. Bacon Gouda Sandwich" #food="ngModel">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Price of Food</mat-label>
              <input matInput type="number" name="price" ngModel required placeholder="Ex. 4.95" #price="ngModel">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Review</mat-label>
              <textarea matInput type="text" name="review" ngModel placeholder="Ex. Hot or Frappe" #review="ngModel"></textarea>
            </mat-form-field>
            <button class="button is-success has-text-white" type="submit" style="margin-left: 200px;">
              Submit
            </button>
          </form>

        </div>
        <div *ngSwitchDefault></div>
      </div>-->
    </div>
  </div>
</div>
